<!DOCTYPE html>
<html>
<head>
<title>Register | WFM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="/css/regi.css">
</head>

<body>
	<div class="main-w3layouts wrapper">
		<h1>Register</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/hr/register" method="POST">
					<input class="text" type="text" name="uid" placeholder="Username" >
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="pwd" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="pwd2" placeholder="Confirm Password" required="">
					<input type="submit" value="SIGNUP">
				</form>
				<p>Already having an Account? <a href="/hr/login"> Login Now!</a></p>
			</div>
</body>
</html>